### Задача 1
Используя данные о хоккеистах (скачать можно здесь), проверьте, является ли среди хоккеистов из Финляндии, Норвегии и Дании значимым отличие: а) роста, б) BMI.

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
df = pd.read_csv("hockey_players.csv")
df

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
0,2001,RUS,10,tverdovsky oleg,D,L,185,84.0,1976-05-18,anaheim mighty ducks,24.952772,1976,24.543462
1,2001,RUS,2,vichnevsky vitali,D,L,188,86.0,1980-03-18,anaheim mighty ducks,21.119781,1980,24.332277
2,2001,RUS,26,petrochinin evgeni,D,L,182,95.0,1976-02-07,severstal cherepovetal,25.229295,1976,28.680111
3,2001,RUS,28,zhdan alexander,D,R,178,85.0,1971-08-28,ak bars kazan,29.675565,1971,26.827421
4,2001,RUS,32,orekhovsky oleg,D,R,175,88.0,1977-11-03,dynamo moscow,23.490760,1977,28.734694
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3289,2016,USA,7,compher j.t.,F,R,180,87.0,1995-04-08,university of michigan,21.065024,1995,26.851852
3290,2016,USA,72,vatrano frank,F,L,178,98.0,1994-03-14,boston bruins,22.132786,1994,30.930438
3291,2016,USA,1,kinkaid keith,G,L,191,88.0,1989-07-04,new jersey devils,26.825462,1989,24.122146
3292,2016,USA,30,condon mike,G,L,188,89.0,1990-04-27,montreal canadiens,26.012320,1990,25.181077
3293,2016,USA,31,demko thatcher,G,L,193,95.0,1995-12-08,boston college,20.396988,1995,25.504040

In [4]:
y1 = df[df["country"] == "FIN"]["height"]
y2 = df[df["country"] == "NOR"]["height"]
y3 = df[df["country"] == "DEN"]["height"]

In [5]:
stats.f_oneway(y1, y2, y3)

F_onewayResult(statistic=3.593457507240696, pvalue=0.02833215521299233)

In [6]:
n1 = y1.shape[0]
n2 = y2.shape[0]
n3 = y3.shape[0]

In [7]:
y1_mean = y1.mean()
y2_mean = y2.mean()
y3_mean = y3.mean()

In [8]:
y = df[df["country"].isin(["FIN", "NOR", "DEN"])]["height"]

In [9]:
y_mean = y.mean()

In [10]:
SS_b = n1 * (y1_mean - y_mean) ** 2 + n2 * (y2_mean - y_mean) ** 2 + n3 * (y3_mean - y_mean) ** 2

SS_w = ((y1 - y1_mean) ** 2).sum() + ((y2 - y2_mean) ** 2).sum() + ((y3 - y3_mean) ** 2).sum()

In [11]:
k = 3
n = n1 + n2 + n3

k1 = k - 1
k2 = n - k

sigma2_b = SS_b / k1
sigma2_w = SS_w / k2

sigma2_b, sigma2_w

(93.14492174795387, 25.920696588250017)

In [12]:
F = sigma2_b / sigma2_w
F

3.59345750724064

In [13]:
alpha = 0.05

t = stats.f.ppf(1 - alpha, k1, k2)
t

3.016700272452327

Принимаем H1 - разница роста по странам значима.

In [14]:
y1 = df[df["country"] == "FIN"]["bmi"]
y2 = df[df["country"] == "NOR"]["bmi"]
y3 = df[df["country"] == "DEN"]["bmi"]

In [15]:
stats.f_oneway(y1, y2, y3)

F_onewayResult(statistic=8.682513420531995, pvalue=0.00020108587146857798)

Принимаем H1 - разница bmi по странам значима.

#### Ответ: в обоих случаях различие значимо

In [16]:
us = [df[df["country"] == i]["bmi"] for i in df["country"].unique()]

[0       24.543462
 1       24.332277
 2       28.680111
 3       26.827421
 4       28.734694
           ...
 3149    26.595745
 3150    27.173102
 3151    24.698650
 3152    24.835646
 3153    22.068809
 Name: bmi, Length: 220, dtype: float64,
 24      26.566840
 25      26.566840
 26      28.734694
 27      25.464011
 28      26.592798
           ...
 3060    25.661152
 3061    28.233875
 3062    26.264944
 3063    25.925926
 3064    23.235632
 Name: bmi, Length: 137, dtype: float64,
 47      25.737081
 48      27.465303
 49      27.471689
 50      26.309431
 51      27.170632
           ...
 3154    25.661152
 3155    25.082863
 3156    26.309017
 3157    25.737081
 3158    26.029878
 Name: bmi, Length: 160, dtype: float64,
 70      27.072053
 71      27.411529
 72      26.040953
 73      26.583176
 74      24.593211
           ...
 3169    25.761773
 3170    26.794938
 3171    24.835646
 3172    26.880935
 3173    22.714681
 Name: bmi, Length: 265, dtype: float64,
 97      24.810964
 98      28.086269
 99      25.766838
 100     27.774423
 101     26.583176
           ...
 3184    24.485652
 3185    25.725517
 3186    27.434842
 3187    23.795526
 3188    25.746944
 Name: bmi, Length: 207, dtype: float64,
 120     26.287807
 121     26.196187
 122     27.774271
 123     25.420015
 124     26.855469
           ...
 3194    26.575891
 3195    24.419279
 3196    24.976087
 3197    27.777778
 3198    26.584201
 Name: bmi, Length: 201, dtype: float64,
 144     25.617284
 145     23.374726
 146     28.905076
 147     26.874496
 148     24.414062
           ...
 3203    26.264944
 3204    24.691358
 3205    25.484765
 3206    27.170771
 3207    25.335002
 Name: bmi, Length: 181, dtype: float64,
 169     24.755464
 170     24.489796
 171     27.173119
 172     25.592210
 173     25.617284
           ...
 2975    28.405504
 2976    25.737081
 2977    28.409091
 2978    25.680074
 2979    24.835646
 Name: bmi, Length: 102, dtype: float64,
 192     25.469388
 193     23.939481
 194     23.148148
 195     23.573915
 196     25.640243
           ...
 1013    26.250725
 1014    24.074074
 1015    25.351541
 1016    23.765432
 1017    22.205990
 Name: bmi, Length: 69, dtype: float64,
 215     24.898144
 216     25.218607
 217     25.249337
 218     24.653740
 219     25.484765
           ...
 3103    26.264944
 3238    26.881720
 3239    25.401701
 3240    25.308642
 3241    23.299800
 Name: bmi, Length: 138, dtype: float64,
 237     26.840610
 238     24.302487
 239     25.381469
 240     24.968010
 241     27.770313
           ...
 3242    25.127831
 3243    25.945484
 3244    23.765432
 3245    25.306932
 3246    25.436467
 Name: bmi, Length: 98, dtype: float64,
 260     24.879179
 261     27.423823
 262     26.315789
 263     26.863299
 264     26.583176
           ...
 3251    27.102041
 3252    24.419279
 3253    23.030045
 3254    26.315789
 3255    23.671254
 Name: bmi, Length: 164, dtype: float64,
 283     27.700831
 284     26.863299
 285     25.732771
 286     26.315068
 287     27.444545
           ...
 3258    24.720579
 3259    27.423823
 3260    25.249896
 3261    25.464011
 3262    24.755464
 Name: bmi, Length: 191, dtype: float64,
 306     28.293345
 307     26.296567
 308     25.680074
 309     25.737081
 310     24.898144
           ...
 3271    24.569314
 3272    26.309017
 3273    23.456790
 3274    24.691358
 3275    26.122449
 Name: bmi, Length: 239, dtype: float64,
 331     27.173102
 332     25.737081
 333     26.575891
 334     27.471689
 335     26.296567
           ...
 2033    25.057360
 2034    26.004383
 2035    27.143037
 2036    26.264944
 2037    27.064052
 Name: bmi, Length: 115, dtype: float64,
 354     27.738854
 355     26.035105
 356     26.713067
 357     26.035105
 358     26.023049
           ...
 3289    26.851852
 3290    30.930438
 3291    24.122146
 3292    25.181077
 3293    25.504040
 Name: bmi, Length: 298, dtype: float64,
 494    26.583176
 495    26.566840
 496    25.767219
 497    28.068918
 498    25.564954
 499    24.879179
 500    25.772518
 501    24.220227
 502    24.021276
 503    27.173913
 504    28.703704
 505    28.997894
 506    25.617284
 507    25.420015
 508    26.874496
 509    27.681661
 510    24.997449
 511    25.680074
 512    26.592670
 513    24.489796
 514    25.000000
 515    22.790358
 516    26.277285
 Name: bmi, dtype: float64,
 517     26.880935
 518     25.925926
 519     27.681661
 520     28.086420
 521     24.810964
           ...
 3107    26.296567
 3108    23.939481
 3109    26.851852
 3110    22.584759
 3111    24.332277
 Name: bmi, Length: 113, dtype: float64,
 682     26.583176
 683     25.499132
 684     28.355388
 685     25.464011
 686     22.839506
           ...
 3189    21.329438
 3190    23.374726
 3191    25.000000
 3192    27.000000
 3193    24.212293
 Name: bmi, Length: 134, dtype: float64,
 944     25.640243
 945     25.249337
 946     25.680074
 947     26.234568
 948     24.031709
           ...
 2960    25.648918
 3091    27.777778
 3092    26.851852
 3199    26.555966
 3200    24.933720
 Name: bmi, Length: 73, dtype: float64,
 1018    28.405504
 1019    25.000000
 1020    25.401701
 1021    25.436467
 1022    26.296567
           ...
 3233    24.685330
 3234    26.775510
 3235    27.064052
 3236    25.504040
 3237    23.991213
 Name: bmi, Length: 123, dtype: float64,
 2303    25.308642
 2304    27.757487
 2305    26.881720
 2306    29.142146
 2307    28.088991
 2308    27.757487
 2309    24.724520
 2310    29.283903
 2311    27.774271
 2312    25.351541
 2313    26.827421
 2314    23.449341
 2315    25.249337
 2316    25.737081
 2317    25.351541
 2318    26.309017
 2319    25.755158
 2320    25.826446
 2321    24.691358
 2322    24.569314
 2323    25.249337
 2324    22.955684
 2325    27.774423
 2326    22.675737
 2327    26.234568
 3208    24.618104
 3209    24.569314
 3210    28.859212
 3211    22.305471
 3212    25.484765
 3213    30.598530
 3214    25.737081
 3215    26.812219
 3216    25.475211
 3217    25.680074
 3218    25.464011
 3219    25.436467
 3220    25.464011
 3221    25.712199
 3222    26.296567
 3223    24.710384
 3224    27.072053
 3225    26.234568
 Name: bmi, dtype: float64]